# 🔒 Arquivos sensíveis (NUNCA versionar)
android/key.properties
android/app/shopgp3-release-key.jks

# Flutter / Dart
.dart_tool/
.packages
.pub-cache/
.pub/
build/
flutter_*.png

# VSCode
.vscode/

# IntelliJ / Android Studio
.idea/
*.iml

# macOS
.DS_Store

# Linux / Unix / Misc
*.swp
*.log
*.pyc
*.class
.svn/
.history
.atom/
.buildlog/
.swiftpm/
migrate_working_dir/

# iOS
ios/Flutter/.last_build_id

# Web
web/manifest.json

# Arquivos de build (Android)
android/app/debug/
android/app/profile/
android/app/release/
*.symbols
*.map.json

# Arquivos temporários
*.tmp
*.temp
